//Color

$base-color: rgb(255, 255, 255);

$stack-color: rgb(32, 115, 179);

$dark-color: rgb(0, 0, 0);

//Font-Family


$OpenSans: 'Open Sans', sans-serif;
$ArialReg: 'Arial-Regular', sans-serif;
$ArialBold: 'Arial-Bold', sans-serif;

.style_bold {
  font-family: $ArialBold;
  font-weight: 700;
}
.style_normal {
  font-family: $ArialReg;
  font-weight: 400;
}